version: '1.0'

services:
  # 1. 数据库服务
  sky-db:
    image: mysql:8.0
    container_name: sky-mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci # 强制指定字符集
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: sky_take_out
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d  # 自动执行初始化SQL
      - ./mysql/data:/var/lib/mysql               # 数据持久化
    ports:
      - "3306:3306"

  # 2. 缓存服务
  sky-redis:
    image: redis:latest
    container_name: sky-redis
    restart: always
    ports:
      - "6379:6379"

  # 3. 后端服务
  sky-server:
    image: eclipse-temurin:8-jre
    container_name: sky-backend
    restart: always
    volumes:
      - ./sky-backend.jar:/app/app.jar
    working_dir: /app
    command: java -jar app.jar
    depends_on:
      - sky-db
      - sky-redis
    ports:
      - "8080:8080"

  # 4. 前端服务 (Nginx)
  sky-nginx:
    image: nginx:latest
    container_name: sky-frontend
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/html:/usr/share/nginx/html      # 静态页面
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf # 配置文件
    depends_on:
      - sky-server